* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {

    background-color: #ff8500;
}

.footerContainer {
    width: 100%;
    /* padding: 30px 30px 20px; */
}

.socialIcons {
    display: flex;
    justify-content: center;
}

/* Added styles for controlling image size */
.socialIcons img {
    width: 150px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    max-width: 100%;
    /* Responsive */
    object-fit: contain;
    padding-top: 15px;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 15px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 25px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 1.15em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #ff8500;
    padding: 15px;
    margin-top: -15px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 100px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
    

    /* Adjust image size on smaller screens */
    .socialIcons img {
        width: 120px;
        /* Adjust for mobile */
    }
}

/* Logo container styling */
.placetopay-logo img {
    margin-top: 40px;
    height: 60px;
    display: block;
    margin-bottom: -40px;
}

/* Media query for screens with a max width of 768px */
@media (max-width: 768px) {
    .placetopay-logo img {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
}

/* Media query for larger screens, like laptops */
@media (min-width: 769px) {
    .placetopay-logo img {
        padding-bottom: 20px;
        height: 80px;
        margin-left: 20px;
    }
}